config GT_L2_OC
	bool "1.3 ghz L2 Cache Boost Clock"
	default y
	help
	  This will enable L2 cache boost clock.

config GT_CPU_OC
	bool "1.4 ghz CPU Overclock"
	default y
	help
	  This will enable CPU overclocking.

config QUAD_CORES_SOC_STAT
	bool "Overall statistic details for quadcore SOCs"
	depends on CPU_FREQ_STAT
	default n
	help
	  This will show overall CPU frequency statistics via sysfs.
	  If this option is not set, it defaults to dual core stats

config MSM_CPUFREQ_LIMITER
	tristate "MSM CPU frequency limiter"
	default n
	help
	  This driver limits MSM CPU frequency through sysfs file system.

	  To compile this driver as a module, choose M here: the
	  module will be called cpufreq_stats.

	  If in doubt, say N.

config TURBO_BOOST
	bool "Enable CPU Turbo boost option"
	default y
	help
	  This option allows overclocking of 2 cores to higher clock rate
	  than stock maximum.  When more than 2 cores are active, the clock
	  is limited to stock max speeds

config INTELLI_PLUG
        bool "Enable intelli-plug cpu hotplug driver"
        default n
        help
          Generic Intelli-plug cpu hotplug driver for ARM SOCs

choice
	prompt "MSM Thermal Monitor Types"
	default THERMAL_MONITOR

config INTELLI_THERMAL
	bool "Better thermal monitor for MSM"
	depends on THERMAL_TSENS8960 || THERMAL_TSENS8974
	depends on CPU_FREQ_MSM
	default n
	help
	  This enables thermal monitoring capability in the kernel replacing
	  userspace thermal monitoring altogether.

config THERMAL_MONITOR
	bool "Monitor thermal state and limit CPU Frequency"
	depends on THERMAL_TSENS8960 || THERMAL_TSENS8974
	depends on CPU_FREQ_MSM
	default n
	help
	  This enables thermal monitoring capability in the kernel in the
	  absence of a system wide thermal monitoring entity or until such an
	  entity starts running in the userspace. Monitors TSENS temperature
	  and limits the max frequency of the cores.

endchoice 

config GPU_OVERCLOCK
	bool "Enable GPU Overclocking option"
	default n
	help
	  APQ8064 GPU overclocking 

config HAS_MACH_MEMUTILS
	default y
	bool "Motorola MSM memcpy enhancements"
	help
	Faster memcpy performance for Krait

config COMPILE_WITH_LINARO_O3_OPTIMIZATIONS
       default n
       bool "build with O3 Maximum Optimization level"
       help
       Builds faster Code

